* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'JetBrains Mono', monospace;
    background-color: rgb(17, 16, 16); /* MISMO color que el fondo del svg */
    overflow-x: hidden;
}

.a-futuro-page {
  /* variables para controlar tamaño y posición del SVG de fondo */
    --svg-width: 1343px;
    --svg-left: -2px;
    --svg-top: -3px;
    --svg-height: 760px;

    width: 100vw;
    height: var(--svg-height);
    background-image: url("SVG-facu/fondo-a-futuro.svg");
    background-repeat: no-repeat;
    background-position: 2px -8px;
    background-size: cover;
    background-size: 1343px var(--svg-height);
    background-color: rgb(17, 16, 16);
    
    font-family: 'JetBrains Mono', monospace;
    color: #333;
    position: relative;
    padding: 2rem;
    box-sizing: border-box;

    max-height: 800px;
    min-height: 100vh; /* asegura que siempre ocupe el alto completo */
    overflow: hidden;

}

.page-label {
    position: absolute;
    top: 12px;
    left: 992px;
    transform: translateX(-50%);
    font-size: 2rem;
    font-weight: bold;
    color: #030303;
    z-index: 10;
}

.futuro-wrapper {
    max-width: 1100px;
    margin: 6rem 0 0 5rem;
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.futuro-section h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.futuro-section p {
    font-size: 1.4rem;
    line-height: 1.7;
}
